<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.mapper.CartMapper">

	<select id="getList" resultType="kr.co.domain.CartVO">
		select * from tbl_cart
	</select>
	
	<select id="getCartList" resultType="kr.co.domain.CartVO">
		select * from tbl_cart c, tbl_user u, tbl_book b
		where c.user_number = u.user_number and
		b.book_id = c.book_id and c.user_number=#{c.user_number}
	</select>
	
	<select id="getBookList" resultType="kr.co.domain.BookVO">
		select * from tbl_cart c, tbl_user u, tbl_book b
		where c.user_number = u.user_number and
		b.book_id = c.book_id and c.user_number=#{c.user_number}
	</select>

	<insert id="insert">
		insert into tbl_cart (user_number, book_id, amount, cart_id)
		 values(#{user_number}, #{book_id}, #{amount}, cart_seq.nextval)
	</insert>
	
	<select id="select" resultType="String" parameterType="kr.co.domain.CartVO">
		<![CDATA[
		select decode(count(*),0,'false','true') from tbl_cart
		 where book_id = #{book_id} and user_number = #{user_number}
		 ]]>
	</select>

	<!-- 장바구니 리스트에서 수량 수정 할 경우 -->
	<update id="update">
		update tbl_cart set
		amount = #{amount}
		where book_id = #{book_id} and user_number = #{user_number}
	</update>
	
	<!-- 이미 장바구니에 존재하는 경우  -->
	<update id="addupdate">
		update tbl_cart set
		amount = amount + #{amount}
		where book_id = #{book_id} and user_number = #{user_number}
	</update>
	
	<update id="amountUpdate">
		update tbl_cart set
		amount = #{amount}
		where book_id = #{book_id} and user_number = #{user_number}
	</update>
	
	<delete id="delete">
		delete from tbl_cart where book_id = #{book_id}
	</delete>
	
</mapper>